*{
    font-family: "VT323", monospace;
}
body{
    margin: 0;
     background-image: url('bookshelf.png');
}

/* Styling h1 Heading */
h1 {
    text-align: center;
}

/* 


/* Styling the video link */
.iframe-container {
    display: block;
    margin: 0 auto;

    align-items: center;
    padding: 50px;
    height: auto;
    width: 60%;
    max-width: 600px;
    aspect-ratio: 16 / 9;

    border: 5px steelblue solid;
    border-radius: 8 px;
}

     /* Flex container */
    .flex-container {
      display: flex;
      flex-wrap: wrap;          /* Allows wrapping on smaller screens */
      justify-content: center;  /* Centers items horizontally */
      gap: 20px;                /* Space between containers */
      padding: 20px;
    }

    /* Individual text containers */
    .box {
      flex: 1 1 200px;          /* Grow/shrink, min width 200px */
      max-width: 300px;         /* Prevents boxes from getting too wide */
      border: 2px solid steelblue;
      background-image: url('wood.png');
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    }

    /* Consistenct styling across web-pages*/
      fieldset{
    background-image: url('wood.png');
    background-repeat: repeat;
    background-size: 52px 52px;
    width: 75vw;
    height: auto;
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 3%;
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 63, 50, 0.8) rgba(255, 255, 255, 0.1);
    margin-top: 8%; }
