@font-face {
    font-family: 'MinecraftFont';
    src: url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: "MinecraftFont", "Courier New", monospace;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html{
  background-image: url('bookshelf.png');
}

#help-icon {
  margin: 0 auto;
  padding-top: 10px;
  display: block;
  clear: both;

}

#iframe-container-1{
  display: inline;
  margin: 0 auto;

  align-items: center;
  padding: 50px;
  height: auto;
  width: 50%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  border: none;
  box-shadow: inset;
  float: left;
}
#iframe-container-2{
  display: inline;
  margin: 0 auto;

  align-items: center;
  height: auto;
  padding: 50px;
  width: 50%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  border: none;
  box-shadow: inset;
  float: right;
}

#explain{
  flex-direction: column;
  text-align: center;
  clear: both;
}

#mc-link:visited{
  color:green;
}

#mc-link{
  color:white;
}

p{
  overflow-wrap: break-word;
}

#footer {
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: rgba(75, 63, 50, 0.8);
  color: white;
  width: 100%;
  margin-top: auto;
}

#minecraft-link:hover {
  opacity: 0.75;

}